*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0;
}
a{
    text-decoration: none;
}
.wrapper{
    width: 80%;
    margin: 0 auto;
}
span {
    color: orange;
}
.row {
    display: flex;
    justify-content: space-around;
}
h1{
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: -0.02em;
    text-align: left;
    margin-top: 200px;
}
.text1{
    margin-top: 60px;
}
.btn{
display: inline-block;
font-weight: 600;
font-size: 18px;
line-height: 130%;
color: #FFFFFF;
align-items: center;
padding: 20px 32px;
width: 192px;
height: 68px;
background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
box-shadow: 0px 2px 30px rgba(252, 143, 73, 0.5);
border-radius: 100px;
text-align: center;
}
.mt4{
    margin-top: 40px;
}
#about{
    background-image: url("images/shapes/7.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.personimage{
    width: 338px;
    margin-right: 400px;
}
.text-center{
    text-align: center;
    margin-top: 30px;
}
.recipies{
    margin:0 auto;
    margin-top: 60px;
}
.projectcover{
    width: 337px;
    height: 256px;
}
article{
    width: 377px;
    height: 528px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 20px;
}
.projectcover1{
    width: 337px;
    height: 256px;
}
.shadow{
    margin: 100px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 100px;
    width: 100%;
}
.shadow div{
    text-align: left;
}
.shadow h1{

    margin: 0;
    margin-right: 40px;

}
footer{
    background: #0B0D17;
    height: 256px;
    width: 100%;
}
footer h3{
    text-align: center;
font-size: 30px;
font-weight: 800;
line-height: 35px;
letter-spacing: 0em;
color: #5B5B5B;
padding-top: 40px;
}
footer p{
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    padding-top: 10px;
    text-align: center;
}